summary {
    font-weight: normal;
    font-size: 25px;
    margin: 10px 0;
    width: fit-content;
    border-bottom: 2px solid var(--fg);
    user-select: none;
    cursor: pointer;
}

#cover {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 200px;
}

.listing {
    display: block;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 0.5rem;
    padding: 0.25rem;
    margin: 1rem 0;
}

h3 {
    margin: 0;
    margin-bottom: 0.25rem;
}

.listing.positive h3 {
    color: #7f7;
}

.listing.negative h3 {
    color: #f77;
}

#credits {
    margin-top: 2rem;
    text-align: center;
}

#error {
    background: rgba(0, 0, 0, 0.4);
    display: none;
    border: 2px solid #f77;
    padding: 0.5rem;
    border-radius: 0.5rem;
}